body{
    margin:  0;
    font-size: 30px;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
  }
  header, footer{
    text-align: center;
    padding: 30px;
  }
  .box{
    width: calc(33% - 30px);
    background: grey;
    height: 100vh;
    margin: 15px;
  }
  .cell{
    background-color: white;
    border: 1px solid black;
  }
